#contact-container {
    background-image: url('./img/SOHO-4\ 2.png');
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 70px;
}

.contact-form {
    max-width: 30vw;
    padding: 20px;
    border-radius: 15px;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.733) 0%, rgba(0, 0, 0, 0.17) 100%);
    border: 1px solid #0DA2D2;
}

.contact-button {
    background-color: #f1c40f;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.contact-title {
    font-size: 2rem;
    font-family: 'Poppins SemiBold', sans-serif;
}

.contact-subtitle {
    color: #e6e6e6;
    font-size: 1rem;
    font-family: 'Poppins Regular', sans-serif;
}



.submit-button {
    background-color: rgb(19, 161, 204);

    &:hover {
        background-color: #1363ad;
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media screen and (max-width: 768px) {
    #contact-container {
        height: 723px;
        padding: 1rem;
    }

    .contact-form {
        max-width: 90vw;
    }
}

@media screen and (max-width: 480px) {
    .contact-subtitle {
        width: 100%;
    }
}
