.container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.25rem;
}

.container > nav {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
  background-color: #f7f7f7;
  border-radius: 40px;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}
