.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 3em 0;
}


.NossoTimeTitulo{
    color: #00171F;
    font-family: "PP Formula Condensed";
    font-size: 1.7em;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    width: 200px;
}

.NossoTimeParagrafo{
    color: #09ade4;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px; /* 125% */
    letter-spacing: -0.16px;
    width: 454px;
    text-transform: uppercase;
}

