.container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
  padding: 0 4rem;
  overflow-x: hidden;
}

.container > nav {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  background-color: #e7e7e7;
  border-radius: 40px;
}

.botaoNavegacao {
  font-family: "Poppins", sans-serif;
  padding: .5rem 1rem;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
}

.botaoNavegacao:hover {
  transform: translateY(-3px);
  box-shadow:  0 3px 5px 3px #3133333b;
}

.botaoNavegacaoSelecionado {
  background-color: var(--azul-paq);
  color: white;
  border-radius: 40px;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.botaoNavegacaoNaoSelecionado {
  color: black;
  border-radius: 40px;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.containerTime {
  display: flex;
  flex-wrap: wrap; /* Permite a quebra para novas linhas */
  justify-content: center; /* Alinha os itens ao centro */
  gap: 2em;
  padding: 1rem;
  margin-bottom: 2em;
  max-width: 100%;
}

.cardPessoa {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--fundocinza);
  flex: 0 1 auto; /* Flexível, mas com largura mínima de 200px */
  border-radius: 27px;
  text-align: center; /* Centraliza o conteúdo dentro do card */
}

.cardPessoa > img {
  aspect-ratio: auto;
  border-radius: 5px 27px;
  background-size: cover;
  max-width: 100%; /* Garante que a imagem não ultrapasse a largura do card */
}

.CardsNossoTimeNome {
  color: #00171F;
  text-align: center;
  font-family: "PP Formula Condensed";
  font-size: 26px;
  font-weight: 700;
  line-height: 25.308px;
  letter-spacing: 0.65px;
  text-transform: uppercase;
  margin: 20px 0 10px 0;
}

.CardsNossoTimeCargo {
  color: #00171F;
  text-align: center;
  font-family: "PP Formula Condensed";
  font-size: 18px;
  font-weight: 400;
  line-height: 20.308px;
  letter-spacing: 0.406px;
}

@media (min-width: 1536px) {
  .cardPessoa:first-child {
    margin-left: 1.5rem;
  }

  .containerTime {
    gap: 3rem; /* Ajusta o espaçamento para telas grandes */
  }
}

@media (max-width: 546px) {

  .container {
    padding: 0;
  }
  .containerTime {
    gap: 1rem;
  }
  
  .cardPessoa {
    width: 120px;

  }
  .cardPessoa > img {
    width: 100px;
  }

  .CardsNossoTimeCargo {
    font-size: 14px;

  }
  
}