.container {
  margin-top: 30px;
}

.container > .parcerias {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5; /* Assuming 'fundocinza' is a light gray color */
  border-radius: 20px;
  padding: 1.5rem 0;
  margin: 1.5rem 1.25rem 1.5rem 1.25rem;

}

.container > h2 {
  font-family: "PP Formula Condensed";
  font-size: 37px;
  font-style: normal;
  line-height: 40px;
  text-transform: uppercase;
}
