.container {
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0; /* Assuming bg-fundocinza is a gray color */
  border-radius: 20px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  align-items: center;
}

.container > h2 {
  font-family: "PP Formula Condensed";
  font-size: 37px;
  font-style: normal;
  line-height: 40px;
  text-transform: uppercase;
}

.container > img:first {
  width: 100%;
}

.grid {
  display: grid;
  gap: 30px;
  justify-content: space-around;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}
