.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 13rem;
  margin-bottom: 13rem;
}

.container > h2 {
  color: #000;
  font-family: "PP Formula Condensed";
  font-size: 67.34px;
  font-style: normal;
  font-weight: 400;
  line-height: 68px;
  text-transform: uppercase;
}

.container > img {
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
}

.imagemTablet {
  display: none;
}

@media (max-width: 768px) {
  .corpo {
    font-size: 37px;
    line-height: 40px;
  }
  .paragrafo {
    line-height: 15px;
    font-size: 12px;
    width: 50%;
  }
}

.TextoPaqAgradece {
  color: #fff;
  text-align: center;
  font-family: "PP Formula Condensed";
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 53.125px; /* 111.111% */
  text-transform: uppercase;
}

@media (min-width: 769px) and (max-width: 1268px) {
  .imagemTablet {
    display: block;
    position: absolute;
    inset: 0px;
    aspect-ratio: auto;
    border-radius: 12px;
    object-fit: cover;
  }
}
