.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #f0f0f0; /* Assuming 'bg-fundocinza' is a custom color */
  border-radius: 20px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.container > h2 {
  font-family: var(--font-formula-condensed);
  font-size: 37px;
  font-style: normal;
  line-height: 40px;
  text-transform: uppercase;
}

.container > .grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.container > .grid > img {
  height: fit-content;
}
