.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #f0f0f0; /* Assuming 'bg-fundocinza' is a custom color */
  border-radius: 20px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.container > h2 {
  font-family: "PP Formula Condensed";
  font-size: 30px;
  font-style: normal;
  line-height: 40px;
  text-transform: uppercase;
}


.grid {
  overflow: hidden;
  display: flex;
  gap: 1rem;
  animation: scroll 15s linear infinite;
  width: max-content;
}


/* Imagens responsivas */
.grid img {
  max-height: 60px;
  object-fit: contain;
}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-28%);
  }
}