.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 2rem;
}

.container > .parcerias {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #cbe1fa; /* Assuming 'fundocinza' is a light gray color */
  border-radius: 20px;
  padding: 1.5rem 0;
  width: 100%;
  margin: 1.25rem;
}

.container > .parcerias > img {
  margin: 10px;
}

.container > h2 {
  font-family: "PP Formula Condensed";
  font-size: 35px;
  font-style: normal;
  line-height: 40px;
  text-transform: uppercase;
  margin-bottom: -1rem;
}
