.container-secao {
  width: 287.35px;
  height: 288.11px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(42, 50, 165); */
}

.container-palavra {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.text-um-futuro {
  color: black;
  text-transform: uppercase;
}

/*Quadro 2*/
.text-diverso-inovador {
  animation: 10s keyframeTextDiversoInovador ease-out infinite;
}
.text-diverso-inovador::after {
  content: "diverso";
  text-transform: uppercase;
  font-size: 86.02px;
  line-height: 53.76px;
  animation: 10s keyframeTextDiversoInovador ease-out infinite;
}
.img-concarh {
  width: 80px;
  height: 80px;
  background-image: url("./img/concarh.png");
  border-radius: 25px;
  animation: 10s keyframeImgConcarh ease-out infinite;
  z-index: -1;
}

@keyframes keyframeTextDiversoInovador {
  0% {
    transform: translateX(0px);
  }
  35%,
  45% {
    transform: translateX(170px);
    content: "inovador";
  }

  100% {
    transform: translateX(0px);
  }
}
@keyframes keyframeImgConcarh {
  0% {
    transform: translateX(0px);
  }
  35%,
  45% {
    transform: translateX(-350px);
  }
  100% {
    transform: translateX(0px);
  }
}

/*Quadro 3*/

.text-comeca {
  animation: 10s keyframeTextComeca ease-out infinite;
}

.text-comeca::after {
  content: "começa";
  text-transform: uppercase;
  font-size: 86.02px;
  line-height: 53.76px;
  animation: 10s keyframeTextComeca ease-out infinite;
}
.img-visita-soho {
  width: 80px;
  height: 80px;
  background-image: url("./img/visita-soho.jpg");
  border-radius: 25px;
  animation: 10s keyframeVisitaSoho ease-out infinite;
}

@keyframes keyframeTextComeca {
  0% {
    transform: translateX(0px);
  }
  35%,
  45% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes keyframeVisitaSoho {
  0% {
    transform: translateX(0px);
  }
  35%,
  45% {
    transform: translateX(350px);
  }
  100% {
    transform: translateX(0px);
  }
}

/*Quadro 4*/

.text-aqui {
  animation: 10s keyframeTextAqui ease-out infinite;
}

.text-aqui::after {
  content: "Aqui";
  text-transform: uppercase;
  font-size: 86.02px;
  line-height: 53.76px;
  animation: 10s keyframeTextAqui ease-out infinite;
}
.img-educandos-paq {
  width: 80px;
  height: 80px;
  background-image: url("./img/educandos-paq.png");
  border-radius: 25px;
  animation: 10s keyframeImgEducandosPaq ease-out infinite;
  z-index: -1;
}

@keyframes keyframeTextAqui {
  0% {
    transform: translateX(0px);
  }
  35%,
  45% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes keyframeImgEducandosPaq {
  0% {
    transform: translateX(0px);
  }
  35%,
  45% {
    transform: translateX(-190px);
  }
  100% {
    transform: translateX(0px);
  }
}
