@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Papel do paq na missão*/
.papelPaq {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 1.25rem 1.25rem 0rem 0rem;
    background: #DEF5FC;
}

.separacao_text {
    display: flex;
    width: 20rem;
    padding: 4.5rem 2.0625rem 2rem 2.0625rem;
    flex-direction: column;
    align-items: center;
    gap: 1.875rem;
}

.textPaqFortalece {
    width: 15.875rem;
}

.textPaqFortalece p {
    color: #00171F;
    text-align: center;
    font-family: "Poppins";
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 0.9375rem;
    /* 125% */
    letter-spacing: -0.0075rem;
}

.conteudo_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.conteudo_text h2 {
    color: #00171F;
    text-align: center;
    font-family: "PP Formula Condensed";
    font-size: 2.33781rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.5rem;
    /* 106.936% */
    text-transform: uppercase;
}

.conteudo_text span {
    color: #00171F;
    font-family: "PP Formula Condensed";
    font-size: 2.33781rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.5rem;
    text-transform: uppercase;
}

/*Carrosel*/
.separacao_carrossel {
    display: flex;
    padding-top: 8px;
    padding-bottom: 8px;
    align-items: center;
    justify-content: center;
    gap: -0.8125rem;
    max-width: 100%;
    overflow-x: scroll;
}

.carrossel {
    display: flex;
    align-items: center;
    gap: -0.75rem;
    width: 100%;
}

.card1 {
    height: 15.32625rem;
    display: flex;
    width: 12.253rem;
    transform: rotate(-1.48deg);
    padding: 0.75rem 0.67656rem;
    justify-content: center;
    align-items: flex-start;
    gap: 0.75169rem;
    border-radius: 0.451rem;
    border: 2px solid #DEF5FC;
    background: #0DA2D2;
}

.conteudocard1 {
    display: flex;
    padding: 0.75rem 0rem;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    justify-content: center;
}

.iconetitulo1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
    align-self: stretch;
}

.text1 {
    width: 10.073rem;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.text1 p {
    color: #FFF;
    width: 10.073rem;
    text-align: center;
    font-family: Poppins;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 0.9375rem;
    /* 125% */
}

.iconetitulo1 h2 {
    color: #FFF;
    text-align: center;
    font-family: "PP Formula Condensed";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    align-self: stretch;
    letter-spacing: 1px
}

.iconeCard1 {
    margin: 0px;
    width: 3.93481rem;
    height: 3.85281rem;
    transform: rotate(1.48deg);

}

/*Card 2*/
.card2 {
    display: flex;
    width: 12.253rem;
    height: 16.745625rem;
    transform: rotate(1.837deg);
    padding: 0.75rem 0.67656rem;
    justify-content: center;
    align-items: flex-start;
    border-radius: 0.451rem;
    border: 2px solid #DEF5FC;
    background: #0DA2D2;
}

.iconetitulo2 {
    width: 161.17px;
    height: 99.93px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8125rem;
    align-self: stretch;
}

.iconetitulo2 h2 {
    height: 32px;
    color: #FFF;
    text-align: center;
    font-family: "PP Formula Condensed";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    align-self: stretch;
    letter-spacing: 1px;
}

.conteudocard2 {
    display: flex;
    padding: 0.75rem 0rem;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
}

.iconeCard2 {
    width: 61px;
    height: 53px;
    margin: 0px;
}

.text2 p {
    width: 10.073rem;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 0.9375rem;
    /* 125% */
}

/*Card 3*/
.card3 {
    width: 12.253rem;
    height: 285.07px;
    display: flex;
    transform: rotate(-1.48deg);
    padding: 0.75rem 0.67656rem;
    justify-content: center;
    align-items: flex-start;
    border-radius: 0.451rem;
    border: 2px solid #DEF5FC;
    background: #0DA2D2;
}

.conteudocard3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.iconeCard3 {
    margin: 0px;
    width: 2.625rem;
    height: 2.625rem;
    transform: rotate(1.48deg);
}

.iconetitulo3 {
    height: 87.07px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
    align-self: stretch;

    & h2 {
        height: 32px;
        color: #FFF;
        text-align: center;
        font-family: "PP Formula Condensed";
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        align-self: stretch;
        letter-spacing: 1px;
    }
}

.text3 {
    height: 150px;
    width: 10.073rem;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-self: stretch;
}

.text3 p {
    width: 10.073rem;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 0.9375rem;
    /* 125% */
}

/*Card 4*/
.card4 {
    display: flex;
    width: 12.253rem;
    height: 240.32px;
    transform: rotate(1.837deg);
    padding: 0.75rem 0.67656rem;
    justify-content: center;
    align-items: flex-start;
    gap: 0.75169rem;
    border-radius: 0.451rem;
    border: 2px solid #DEF5FC;
    background: #0DA2D2;
}

.conteudocard4 {
    display: flex;
    padding: 0.75rem 0rem;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
}

.iconetitulo4 {
    height: 87.32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
    align-self: stretch;

    & h2 {
        color: #FFF;
        text-align: center;
        font-family: "PP Formula Condensed";
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}

.iconeCard4 {
    margin: 0px;
    width: 2.625rem;
    height: 2.625rem;
    transform: rotate(-1.837deg);
}

.text4 p {
    width: 10.073rem;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 0.9375rem;
    /* 125% */
}

.img_carrossel {
    display: none;
    transform: rotate(0deg);
}

.container_img_e_card {
    display: flex;
    flex-direction: row;
    align-items: end;
    flex: 1;
}

@media (max-width:767px) {
    .separacao_carrossel {
        padding-bottom: 40px;
    }

    .container_img_e_card:first-child {
        padding-left: 42px;
    }
    
    .container_img_e_card:last-child {
        padding-right: 42px;
    }
}

@media (min-width:768px) {
    .separacao_carrossel {
        padding-bottom: 120px;
    }
}

@media (min-width:768px) and (max-width: 1023px) {
    .carrossel {
        display: flex;
        flex-direction: column;
        gap: 55px;
    }

    .container_img_e_card {
        width: 43rem;
        height: 102.125rem;
        justify-content: center;
    }

    .img_carrossel {
        display: block;
        width: 26.21369rem;
        height: 17.46344rem;
        border-radius: 7.12px;
    }

    .card1 {
        width: 152.54px;
        height: 190.99px;
        display: inline-flex;
        padding: 0.58356rem 0.84813rem 0.57rem 0.84813rem;
        transform: rotate(-1.48deg);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 0.35094rem;
        border: 1.556px solid #DEF5FC;
        background: #0DA2D2;
        margin-right: -30px;
        margin-bottom: -16px;
        z-index: 2;
    }

    .conteudocard1 {
        width: 100%;
        height: 172.53px;
        padding: 9.34px, 0px, 9.34px, 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-self: stretch;
    }

    .iconetitulo1 {
        width: 104%;
        height: 71.86px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.58356rem;
        align-self: stretch;

        & h2 {
            color: #FFF;
            text-align: center;
            font-family: "PP Formula Condensed";
            font-size: 1.16rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
            letter-spacing: 1px;
            align-self: stretch;
        }
    }

    .iconeCard1 {
        margin: 0px;
        width: 2.33425rem;
        height: 2.28563rem;
        transform: rotate(1.48deg);
    }

    .text1 p {
        width: 7.83775rem;
        height: 82px;
        color: #FFF;
        text-align: center;
        font-family: Poppins;
        font-size: 0.58356rem;
        font-style: normal;
        font-weight: 500;
        line-height: 0.72944rem;
        /* 125% */
    }

    .card2 {
        display: flex;
        width: 9.53394rem;
        height: 13.05313rem;
        transform: rotate(1.837deg);
        padding: 0.58356rem 0.52644rem;
        justify-content: center;
        align-items: flex-start;
        flex-shrink: 0;
        margin-bottom: -16px;
        margin-left: -30px;
        z-index: 2;
    }

    .conteudocard2 {
        display: flex;
        padding: 0.58356rem 0rem;
        flex-direction: column;
        align-items: center;
        align-self: stretch;
    }

    .iconetitulo2 {
        height: 77.85px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.63219rem;
        align-self: stretch;
    }

    .iconetitulo2 h2 {
        color: #FFF;
        text-align: center;
        font-family: "PP Formula Condensed";
        font-size: 1.16713rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        align-self: stretch;
    }

    .iconeCard2 {
        width: 2.9665rem;
        height: 2.57744rem;
        transform: rotate(-1.837deg);
    }

    .text2 p {
        width: 7.83775rem;
        color: #FFF;
        text-align: center;
        font-family: Poppins;
        font-size: 0.58356rem;
        font-style: normal;
        font-weight: 500;
        line-height: 0.72944rem;
        /* 125% */
    }



    .card3 {
        display: flex;
        width: 9.53394rem;
        height: 13.87388rem;
        transform: rotate(-1.48deg);
        padding: 0.58356rem 0.52644rem;
        justify-content: center;
        align-items: flex-start;
        gap: 0.58488rem;
        flex-shrink: 0;
        margin-right: -30px;
        margin-bottom: -16px;
        z-index: 2;
    }

    .conteudocard3 {
        display: flex;
        padding: 0.58356rem 0rem;
        flex-direction: column;
        align-items: center;
        align-self: stretch;
    }

    .iconetitulo3 {
        height: 67.85px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.58356rem;
        align-self: stretch;

        & h2 {
            color: #FFF;
            text-align: center;
            font-family: "PP Formula Condensed";
            font-size: 1.16713rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
            align-self: stretch;
        }

        &.iconeCard3 {
            width: 2.0425rem;
            height: 2.0425rem;
            transform: rotate(1.48deg);
        }
    }

    .text3 p {
        width: 7.83775rem;
        color: #FFF;
        text-align: center;
        font-family: Poppins;
        font-size: 0.58356rem;
        font-style: normal;
        font-weight: 500;
        line-height: 0.72944rem;
        /* 125% */
    }

    .card4 {
        display: flex;
        width: 9.53394rem;
        height: 11.69869rem;
        transform: rotate(1.837deg);
        padding: 0.58356rem 0.52644rem;
        justify-content: center;
        align-items: flex-start;
        gap: 0.58488rem;
        flex-shrink: 0;
        border-radius: 0.35094rem;
        border: 1.556px solid #DEF5FC;
        background: #0DA2D2;
    }

    .conteudocard4 {
        display: flex;
        padding: 0.58356rem 0rem;
        flex-direction: column;
        align-items: center;
        align-self: stretch;
    }

    .iconetitulo4 {
        height: 68.05px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.58356rem;
        align-self: stretch;
    }

    .iconeCard4 {
        width: 2.0425rem;
        height: 2.0425rem;
        transform: rotate(-1.837deg);
    }

    .iconetitulo4 h2 {
        color: #FFF;
        text-align: center;
        font-family: "PP Formula Condensed";
        font-size: 1.16713rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
    }

    .text4 p {
        width: 7.83775rem;
        color: #FFF;
        text-align: center;
        font-family: Poppins;
        font-size: 0.58356rem;
        font-style: normal;
        font-weight: 500;
        line-height: 0.72944rem;
        /* 125% */
    }

}



/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media (min-width:1024px) and (max-width:4000px) {
    .papelPaq {
        gap: 50px;
    }

    .separacao_text {
        width: 23rem;
    }

    .iconelampada {
        width: 5.4645rem;
        height: 5.05381rem;
    }

    .conteudo_text h2 {
        font-size: 4.20875rem;
        line-height: 4.25rem;
    }

    .conteudo_text span {
        font-size: 4.20875rem;
        line-height: 4.25rem;
    }

    .textPaqFortalece {
        width: 25.125rem;
        display: flex;
        justify-content: center;
    }

    .textPaqFortalece p {
        line-height: 1.25rem;
        letter-spacing: -0.01rem;
        font-size: 1rem;

    }

    .carrossel {
        display: flex;
        flex-direction: column;
        gap: 55px;
    }

    .container_img_e_card {
        height: 26.27994rem;
        flex-shrink: 0;
        margin: 0px 13.4px 0px 12.9px;
    }

    .img_carrossel {
        display: block;
        width: 40.375rem;
        height: 24.47844rem;
        flex-shrink: 0;
        border-radius: 0.75rem;
        margin: 0px;
    }

    .card1 {
        width: 257.14px;
        height: 321.95px;
        display: inline-flex;
        transform: rotate(-1.48deg);
        padding: 0.98369rem 1.42963rem 0.98375rem 1.42963rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: -16px;
        margin-right: -50px;
        z-index: 2;
    }

    .conteudocard1 {
        display: flex;
        padding: 0.98369rem 0rem;
        flex-direction: column;
        align-items: center;
        align-self: stretch;
    }

    .iconetitulo1 {
        height: 120.99px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.98369rem;
        align-self: stretch;

        & h2 {
            color: #FFF;
            text-align: center;
            font-family: "PP Formula Condensed";
            font-size: 1.96738rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
            letter-spacing: 1px;
        }
    }

    .iconeCard1 {
        width: 3.93481rem;
        height: 3.85281rem;
        transform: rotate(1.48deg);
    }

    .text1 {
        width: 13.21181rem;
    }

    .text1 p {
        width: 13.21181rem;
        color: #FFF;
        text-align: center;
        font-family: Poppins;
        font-size: 0.98369rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.22963rem;
        /* 125% */
    }


    .card2 {
        width: 16.07106rem;
        height: 352.05px;
        padding: 0.98369rem 0.88738rem;
        margin-bottom: -16px;
        margin-left: -30px;
        z-index: 2;
    }

    .conteudocard2 {
        padding: 0.98369rem 0rem;
    }

    .iconetitulo2 {
        gap: 1.06569rem;
        height: 131.09px;
        width: 100%;

        & h2 {
            color: #FFF;
            text-align: center;
            font-family: "PP Formula Condensed";
            font-size: 1.96738rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
        }
    }

    .iconeCard2 {
        width: 5.0005rem;
        height: 4.34469rem;
        transform: rotate(-1.837deg);
    }

    .text2 {
        width: 13.21181rem;

        & p {
            width: 13.21181rem;
            color: #FFF;
            text-align: center;
            font-family: Poppins;
            font-size: 0.98369rem;
            font-style: normal;
            font-weight: 500;
            line-height: 1.22963rem;
            /* 125% */
        }
    }

    .card3 {
        transform: rotate(1.837deg);
        width: 16.07106rem;
        height: 374.19px;
        padding: 0.98369rem 0.88738rem;
        gap: 0.98594rem;
        margin-bottom: -16px;
        margin-right: -50px;
        z-index: 2;
    }

    .conteudocard3 {
        padding: 0.98369rem 0rem;
    }

    .iconetitulo3 {
        gap: 0.98369rem;
        height: 114.23px;
    }

    .iconeCard3 {
        width: 3.44294rem;
        height: 3.44294rem;
        transform: rotate(1.48deg);
    }

    .iconetitulo3 h2 {
        color: #FFF;
        text-align: center;
        font-family: "PP Formula Condensed";
        font-size: 1.96738rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
    }

    .text3 {
        width: 100%;
        height: auto;
    }

    .text3 p {
        width: 13.21181rem;
        color: #FFF;
        text-align: center;
        font-family: Poppins;
        font-size: 0.98369rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.22963rem;
        /* 125% */
    }


    .card4 {
        width: 16.07106rem;
        height: 315.52px;
        transform: rotate(1.837deg);
        padding: 0.98369rem 0.88738rem;
        margin-bottom: -16px;
        margin-left: -50px;
        z-index: 2;
    }

    .conteudocard4 {
        padding: 0.98369rem 0rem;
    }

    .iconetitulo4 {
        gap: 0.98369rem;
        height: 114.56px;
    }

    .iconetitulo4 h2 {
        font-size: 1.96738rem;
    }

    .iconeCard4 {
        width: 3.37413rem;
        height: 2.68294rem;
        flex-shrink: 0;
    }

    .text4 {
        width: 13.21181rem;

    }

    .text4 p {
        width: 13.21181rem;
        font-size: 0.98369rem;
        line-height: 1.22963rem;
    }
}