.containerDesktop {
  display: none;
  border-radius: 1rem;
  width: auto;
}


@media (min-width: 768px) {
  .containerDesktop {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: white;
  }

  
}

@media (min-width: 1024px) {
  .containerDesktop {
    background-color: #f0f0f0; /* Assuming 'fundocinza' is a light gray color */
  }
}

.containerDesktop > .containerText {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
  padding: 1em;

  & > img {
    width: 90%;
    margin-bottom: -20px;
  }
}

