.EmpresaMadrinhaTitulo{
    color: #000;
    text-align: center;
    font-family: var(--font-formula-condensed);
    font-size: 37.482px;
    font-style: normal;
    font-weight: 400;
    line-height: 99.5%; /* 37.294px */
    letter-spacing: 1.874px;
}

.desktopContainer {
    display: none;
}

.desktopContainer > .textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 1.25rem;
}

.desktopContainer > .textContainer p {
    text-align: start;
}

.mobileMadrinha {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 1rem; /* 36px */
    border-radius: 1rem; /* 16px */
}

@media (min-width: 768px) {
    .desktopContainer {
        display: flex;
        align-items: center;
        gap: 1.25rem; /* 20px */
        background-color: white;
    }
}

@media (min-width: 1024px) {
    .desktopContainer {
        background-color: #f0f0f0; /* Assuming 'fundocinza' is a light gray color */
        border-radius: 1rem; /* 16px */
        width: auto;
    }
}

.desktopContainer h2 {
    display: flex;
    flex-direction: column;
    font-family: var(--font-formula-condensed);
    letter-spacing: 0.1rem; /* 1.6px */
    font-size: 2rem; /* 24px */
    margin: 10px 0;
    text-transform: uppercase;
}

.desktopContainer h2 :last-child {
    color: #000;
    font-size: 3rem; /* 20px */
    font-weight: 500;
    line-height: 1.25; /* 125% */
    text-decoration: underline;
    text-decoration-color: var(--azul-paq);
}
