.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Poppins Semibold", sans-serif;
  height: 105.08px;
}
.itens{
  display: flex;
  gap: 20px;
}

.btns{
  display: flex;
  gap: 10px;
}

@media screen and (max-width: 768px) {
  .container {
    flex-wrap: wrap;
  }

  .container .containerButton .buttonDesktop {
    display: none;
  }

  .container .containerButton .buttonMobile {
    display: block;
  }
}
