.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 80px;
  background-color: #fff;
  font-family: "Poppins Semibold", sans-serif;
}

.container .containerButton {
  display: flex;
  justify-content: right;
  margin-right: 20px;
}

.logo {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 70px;
}

.container .containerButton .buttonDesktop {
  display: block;
}

.container .containerButton .buttonMobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .container .containerButton .buttonDesktop {
    display: none;
  }

  .container .containerButton .buttonMobile {
    display: block;
  }
}
