.comofazerParte {
    display: flex;
    width: 100vw;
    margin-top: 220px;
    margin-bottom: 80px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 62px;
}

.icon {
    display: none;
}

.title {
    color: #000;
    text-align: center;
    font-family: "PP Formula Condensed";
    font-size: 67.34px;
    font-style: normal;
    font-weight: 400;
    line-height: 68px;
    /* 100.98% */
    text-transform: uppercase;
}

@media (max-width:744px) {
    .icon {
        display: block;
    }

    .title {
        color: #000;
        text-align: center;
        font-family: "PP Formula Condensed";
        font-size: 37.405px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px;
        text-transform: uppercase;
    }

    .comofazerParte {
        margin-top: 240px;
        gap: 40px;
    }
}