.container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 100px;
  overflow-x: auto;
  justify-content: space-around;
  scroll-behavior: smooth;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none;  /* For Internet Explorer and Edge */
}

.container > div {
  min-width: 550px;
  height: 150px;
}
