.videoContainer {
  background-image: url("./img/fundo-conectar-e-transformar.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 350px;
  width: 100%;
}

.videoContainer iframe {
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  width: 288px;
  height: 161px;
}

@media (min-width: 1280px) {
  .videoContainer {
    background-image: url("./img/fundo-desktop.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 950px;
  }

  .videoContainer iframe {
    margin-top: 300px;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    height: 490px;
  }
}
