.rotation:nth-child(odd) {
    transform: rotate(-1.48deg);
}

.rotation:nth-child(even) {
    transform: rotate(1.87deg);
}

.section-papelpaq{
    border-radius: 20px 20px 0px 0px;
    background: #DEF5FC;
    width: 100vw;


}