@font-face {
  font-family: "PP Formula Condensed" ;
  src: url(../../../public/fonts/PPFormulaCondensed-Regular.otf);
}

.section-inicial{
  width: 100vw;
  height: 350px;
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: brown;
}

.section-inicial_quadro{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  text-align: center;
  justify-content: center;
  width: 100vw;

}
.quadro1_text1{
  color: #000;
  font-family: "PP Formula Condensed";
  line-height: 3.36rem;
  font-size: 5.37625rem;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}


/*Quadro 2*/
.quadro2_text2{
  animation:  10s text1;
}
.quadro2_text2::after{
  content: "diverso";
  text-transform: uppercase;
  color: #0DA2D2;
  font-family: "PP Formula Condensed";
  font-style: normal;
  animation: 10s text1;
  font-weight: 700;
  line-height: 3.36rem;
  font-size: 5.37625rem;
  
}
.quadro2-img1{
  width: 71.3px;
  height: 72.99px;
  background-image: url('../../../public/CONCARH-40 1.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  animation: 10s img1;
}


@keyframes text1 {
  0%,34%{
    transform: translateX(0px);
    content: "diverso";
  }
  38%,69%{
    transform: translateX(50px);
    content: "inovador";
  }
  70%,100%{
    transform: translateX(0px);
    content: "diferente";
  }
}
@keyframes img1 {
  0%,34%{
    transform: translateX(0px);
    
    background-image: url('../../../public/CONCARH-40\ 1.png');
  }
  35%,69%{
    transform: translateX(-305px);
    background-image: url(../../../public/Notebooks-24\ 1.png);
    

  }
  70%,100%{
    transform: translateX(0px);
    background-image: url(../../../public/Notebooks-24\ 1.png);
  }
}


/*Quadro 3*/

.quadro3_text3{
  animation: 10s text2;
}

.quadro3_text3::after{
  content: "começa";
  text-transform: uppercase;
  font-family: "PP Formula Condensed";
  font-weight: 400;
  line-height: 3.36rem;
  font-size: 5.37625rem;
  animation: 10s text2;
}
.quadro3-img2{
  width: 74.11px;
  height: 72.99px;
  background-image: url('../../../public/VISITA\ SOHO-2\ 1.jpg');
  background-repeat: no-repeat;
  object-fit: fill;
  border-radius: 10px;
  animation: 10s img2;
}


@keyframes text2 {
  0%,34%{
    transform: translateX(0px);
  }
  35%,69%{
    transform: translateX(-105px);
  }
  70%,100%{
    transform: translateX(0px);
  }
}
@keyframes img2 {
  0%,34%{
    transform: translateX(0px);
  }
  35%,69%{
    transform: translateX(255px);

  }
  70%,100%{
    transform: translateX(0px);
    content: "Diferente";
  }
}

/*Quadro 4*/

.quadro4_text4{
  animation: 10s text3;
}

.quadro4_text4::after{
  content: "Aqui";
  text-transform: uppercase;
  font-family: "PP Formula Condensed";
  font-weight: 700;
  line-height: 3.36rem;
  font-size: 5.37625rem;
  animation: 30s text3;
}
.quadro4-img3{
  width: 159px;
  height: 72.99px;
  background-image: url('../../../public/fundo-banner 1.png');
  border-radius: 25px;
  animation: 10s img3;
  background-size: cover;
  background-repeat: no-repeat;
}
.quadro4-img4{
  animation: 10s img4;
  display: none;
}

@keyframes text3 {
  0%,34%{
    transform: translateX(0px);
  }
  35%,69%{
    transform: translateX(205px);
  }
  70%,100%{
    transform: translateX(0px);
  }
}
@keyframes img3 {
  0%,34%{
    transform: translateX(0px);
    
    background-image: url('../../../public/fundo-banner\ 1.png');
    
  }
  35%,69%{
    transform: translateX(-142px);
    
    background-image: url('../../../public/fundo-banner\ 1.png');
  }
  70%,100%{
    transform: translateX(0px);
    
    background-image: url('../../../public/fundo-banner\ 2.png');
  }
}
@keyframes img4 {
  0%,34%{
    transform: translateX(0px);
    
  }
  35%,69%{
    transform: translateX(-142px);
    
  }
  70%,100%{
    transform: translateX(0px);
    
  }
}