.imageBackground {
  background-image: url('./Notebooks-24\ 1.svg');
  height: 100px;
  width: 500px;
  background-repeat: no-repeat;
  animation: 10s img1;
}



.text1::before{
  content: "Diverso";
  animation: 3s texto1 infinite ease-out;
}


@keyframes texto1 {
  0%{

  }
  50%{
    transform: translateX(-100px);
    content: "inovador";
  }
  100%{
    content: "Diferente";
  }
}