.cardContainer {
  height: 350px;
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: #ffffff;
  margin: 20px auto;
  border-radius: 30px;
  align-items: center;
}

.cardContent {
  padding-left: 20px;
  display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  text-align: left;
  height: 80%;
  margin-right: 10px;
}

.cardTitle {
  font-size: 45px;
  font-family: var(--font-formula-condensed);
  font-weight: 400;
  color: #1eb4e9;
}

.cardBody {
  font-family: Poppins;
  margin-bottom: 10px;
}

.cardButton {
  width: 100px;
  height: 40px;
  background-color: #1eb4e9;
  color: #ffffff;
  font-family: Poppins;
  border-radius: 13px;
}

.cardImage {
  height: 100%;
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 30px;
}

@media (max-width: 1200px) {
  .cardContainer {
    display: grid;
    grid-template-columns: 1fr;
    height: 300px;
  }

  .cardImage {
    display: none;
  }

  .cardContent {
    width: 100%;
    height: 100%;
  }

  .cardImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
  }
}

@media (max-width: 500px) {
  .cardContainer {
    margin: 30px;
  }
}
