@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import 'react-toastify/dist/ReactToastify.css';
@import '~react-toastify/dist/ReactToastify.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "NetworkFreeVersion";
  src: url("../../public/fonts/NetworkFreeVersion.ttf") format("truetype"); 
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "PP Formula Condensed";
  src: url("/fonts/PPFormulaCondensed-Regular.otf");
}

@font-face {
  font-family: "PP Formula Condensed";
  src: url("/fonts/PPFormulaCondensed-Regular.otf");
}

@font-face {
  font-family: 'Poppins Medium';
  src: url("/fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: 'Poppins SemiBold';
  src: url("/fonts/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: 'Poppins Regular';
  src: url("/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: 'Poppins Bold';
  src: url("/fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: 'Poppins Medium';
  src: url("/fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: 'Poppins SemiBold';
  src: url("/fonts/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: 'Poppins Regular';
  src: url("/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: 'Poppins Bold';
  src: url("/fonts/Poppins-Bold.ttf");
}

:root {
  --fundo-pagina: #fff;
  --azul-paq: #1eb4e9;
}

body {
  background: var(--fundo-pagina);
  text-align: center;
  overflow-x: hidden;
}

/* Scrollbar personalizada */

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: rgb(237, 237, 242);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(33, 164, 225);
  border-radius: 5px;
}


.submit-button {
  font-family: 'Poppins Bold', sans-serif;
}

@media screen and (min-width: 640px) {
  body {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

body {
  line-height: 1;
}

/* Animaçoes de entrada e saida de conteudo */

[data-anima] {
  opacity: 0;
  transition: .8s;
}

[data-anima="esquerda"] {
  transform: translate3d(-15px, 0, 0);
}

[data-anima="direita"] {
  transform: translate3d(15px, 0, 0);
}

[data-anima="centro"] {
  transform: translate3d(0, 50px, 0);
}

[data-anima="cima"] {
  transform: translate3d(0, -50px, 0);
}

[data-anima].animacao {
  opacity: 1;
  transform: translate3d(0,0,0);
}

