@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "PP Formula Condensed";
  src: url("/fonts/PPFormulaCondensed-Regular.otf");
}

@font-face {
  font-family: "Poppins";
  src: url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
}

:root {
  --fundo-pagina: #FFF;
}

body {
  background: var(--fundo-pagina);
  text-align: center;
  margin-left: 5%;
    margin-right: 5%;
}

@media screen and (min-width: 640px) {
  body {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
