.container {
  background-color: #fff;
  border-radius: 15px;
  padding-bottom: 10px;
  border-radius: 15px 15px 0 0;
}

.container header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #fff;
}

.container header p,
.container header ul {
  margin: 30px;
  text-align: left;
}

.container h2 {
  padding-top: 60px;
  color: var(--blue-zima, #1eb4e9);
  font-family: "PP Formula Condensed";
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 75px; /* 150% */
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: left;
  margin-left: 30px;
}

.container hr {
  margin: 40px 20px;
  border: 2px solid var(--azul-paq);
}

.container .softSkills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 25px;
  margin: 0 30px;
}

.container .softSkills h3 {
  color: var(--blue-zima, #1eb4e9);
  font-family: "PP Formula Condensed";
  font-size: 23px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-align: left;
}

.container .softSkills p {
  text-align: left;
}

.container .galeria img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.container .galeria div {
  margin: 30px;
}

.container .galeria div:first-child {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 25px;
}

.container .galeria div:nth-child(2) {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 25px;
}

.container .botoes {
  height: 60px;
}

.container .botoes a {
  color: #fff;
  background-color: var(--azul-paq);
  font-family: Poppins;
  font-size: 15.838px;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.158px;
  margin: 30px;
  padding: 10px 20px;
  border-radius: 10px;
}
