@media (min-width: 832px) {
  .container {
    display: none;
  }
}

@media (max-width: 832px) {
  .container {
    display: block;
  }
}

.sectionInicial {
  height: 350px;
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.sectionInicialQuadro {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  text-align: center;
  justify-content: center;
}
.quadro1Text {
  color: #000;
  font-family: var(--font-formula-condensed);
  line-height: 3.36rem;
  font-size: 5.37625rem;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}

/*Quadro 2*/
.quadro2Text {
  animation: 10s text1 infinite;
}
.quadro2Text::after {
  content: "diverso";
  text-transform: uppercase;
  color: #0da2d2;
  font-family: var(--font-formula-condensed);
  font-style: normal;
  animation: 10s text1 infinite;
  font-weight: 700;
  line-height: 3.36rem;
  font-size: 5.37625rem;
}
.quadro2Img {
  width: 71.3px;
  height: 72.99px;
  background: url("./img//CONCARH-40.png") lightgray 50% / cover no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;
  animation: 10s img1 infinite;
}

@keyframes text1 {
  0%,
  34% {
    transform: translateX(0px);
    content: "diverso";
  }
  38%,
  69% {
    transform: translateX(30px);
    content: "inovador";
  }
  70%,
  100% {
    transform: translateX(0px);
    content: "diferente";
  }
}
@keyframes img1 {
  0%,
  34% {
    transform: translateX(0px);
    width: 71.3px;
    background: url("./img/CONCARH-40.png") lightgray 50% / cover no-repeat;
  }
  35%,
  69% {
    transform: translateX(-250px);
    background: url("./img/Notebooks-241.png") lightgray 50% / cover no-repeat;
    width: 32px;
  }
  70%,
  100% {
    transform: translateX(0px);
    background: url("./img/CaduEYo.png") lightgray 50% / cover no-repeat;
    width: 23.3px;
  }
}

/*Quadro 3*/

.quadro3Text {
  animation: 10s text2 infinite;
}

.quadro3Text::after {
  content: "começa";
  text-transform: uppercase;
  font-family: var(--font-formula-condensed);
  font-weight: 400;
  line-height: 3.36rem;
  font-size: 5.37625rem;
  animation: 10s text2 infinite;
}
.quadro3Img {
  width: 74.11px;
  height: 72.99px;
  background: url("./img/VISITASOHO-2.png") lightgray 50% / cover no-repeat;
  background-repeat: no-repeat;
  object-fit: fill;
  border-radius: 6px;
  animation: 10s img2 infinite;
}

@keyframes text2 {
  0%,
  34% {
    transform: translateX(0px);
  }
  35%,
  69% {
    transform: translateX(-75px);
  }
  70%,
  100% {
    transform: translateX(0px);
  }
}
@keyframes img2 {
  0%,
  34% {
    transform: translateX(0px);
    background: url("./img/VISITASOHO-2.png") lightgray 50% / cover no-repeat;
  }
  35%,
  69% {
    transform: translateX(205px);
    background: url("./img/gophercon21.png") lightgray 50% / cover no-repeat;
  }
  70%,
  100% {
    transform: translateX(0px);
    content: "Diferente";
    background: url("./img/EMPOWERNIC-55-31.png") lightgray 50% / cover no-repeat;
  }
}

/*Quadro 4*/

.quadro4Text {
  animation: 10s text3 infinite;
}

.quadro4Text::after {
  content: "Aqui";
  text-transform: uppercase;
  font-family: var(--font-formula-condensed);
  font-weight: 700;
  line-height: 3.36rem;
  font-size: 5.37625rem;
  animation: 10s text3 infinite;
  color: #0da2d2;
}
.quadro4Img3 {
  width: 159px;
  height: 73px;
  background: url("./img/fundo-banner1.png") lightgray 50% / cover no-repeat;
  border-radius: 6px;
  animation: 10s img3 infinite;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}
.quadro4Img4 {
  width: 0px;
  height: 0px;
  animation: 10s img4 infinite;
  background: url("./img/IMERSAO2-DIA-41.png") lightgray 50% / cover no-repeat;
  border-radius: 6px;
}

@keyframes text3 {
  0%,
  34% {
    transform: translateX(0px);
  }
  35%,
  69% {
    transform: translateX(160px);
  }
  70%,
  100% {
    transform: translateX(75px);
  }
}
@keyframes img3 {
  0%,
  34% {
    transform: translateX(0px);
    background: url("./img/fundo-banner1.png") lightgray 50% / cover no-repeat;
    width: 159px;
  }
  35%,
  69% {
    transform: translateX(-120px);
    background: url("./img/photo16734165752.png") lightgray 50% / cover no-repeat;
    width: 159px;
  }
  70%,
  100% {
    transform: translateX(-120px);
    background: url("./img/fundo-banner2.png") lightgray 50% / cover no-repeat;
    width: 80px;
  }
}
@keyframes img4 {
  0%,
  34% {
    transform: translateX(0px);
    width: 0px;
    height: 0px;
  }
  35%,
  69% {
    transform: translateX(-142px);
    width: 0px;
    height: 0px;
  }
  70%,
  100% {
    transform: translateX(0px);
    width: 76px;
    height: 76px;
  }
}
