.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.75rem;
  padding-top: 3.5rem;
  transition: all 0.5s ease-in-out;
}

.container > h2 {
  color: #fff;
  font-family: var(--font-formula-condensed);
  font-size: 67.34px;
  max-width: 300px;
}

.bgAzul {
  background-color: var(--azul-paq);
}

.bgLaranja {
  background-color: #FF9A3E;
}

.bgVerde {
  background-color: #52b069;
}

.ComoPossoApoiarTitulo {
  color: white;
  text-align: center;
  font-family: var(--font-formula-condensed);
  font-size: 67.34px;
  font-style: normal;
  font-weight: 400;
  line-height: 68px; /* 100.98% */
  text-transform: uppercase;
}

.ComoPossoApoiarTexto {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 116.667% */
  letter-spacing: -0.24px;
}

@media (max-width: 768px) {
  .ComoPossoApoiarTexto {
    font-size: 16px;
    line-height: 28px;
  }
}

div .apoioFinanceiro {
  background-color: #000;
  margin: 40px 0;
  font-size: x-large;
  color: white;
  border-radius: 20px;
  padding: 30px;
}
