.ComoPossoApoiarTitulo{
    color: white;
    text-align: center;
    font-family: "PP Formula Condensed";
    font-size: 67.34px;
    font-style: normal;
    font-weight: 400;
    line-height: 68px; /* 100.98% */
    text-transform: uppercase;
}

.ComoPossoApoiarTexto{
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 116.667% */
    letter-spacing: -0.24px;
}

@media (max-width:768px) {
    .ComoPossoApoiarTexto{
        font-size: 16px;
        line-height: 28px;
    }
    
}

