
.swiper-wrapper {
  display: flex;
  padding: 0px;
  scroll-behavior: smooth;
  margin-bottom: 37px;
  height: 100%;
  align-items: center;
}

.swiper-slide {
  border-radius: 26.682px;
  display: flex !important;
  justify-content: center;
}

.swiper-button-prev, .swiper-button-next {
  display: none;
}

.swiper-pagination {
  display: none;
}