.swiper {
  padding-bottom: 100px !important;
}
.swiper-wrapper {
  display: flex;
  padding: 0px;
  gap: 20px;
  scroll-behavior: smooth;
  margin-bottom: 150px;
  height: 100%;
}

.swiper-slide {
  border-radius: 26.682px;
}

.swiper-button-next::after {
  position: relative;
  margin-bottom: -700px;
  margin-left: -1200px;
}
.swiper-button-prev::after {
  position: relative;
  margin-bottom: -700px;
  margin-left: 1200px;
}
.swiper-pagination {
  display: none;
}

@media (min-width: 320px) and (max-width: 740px) {
  .swiper-slide {
    width: 214.982px !important;
  }
  .swiper-button-prev::after,
  .swiper-button-next::after {
    display: none;
  }
}

@media (min-width: 745px) and (max-width: 1020px) {
  .swiper-button-prev::after {
    margin-left: 550px;
  }
  .swiper-button-next::after {
    margin-left: -550px;
  }
}
