.swiper {
  width: auto;
  }
  .swiper-wrapper{
    display: flex;
    align-items: center;
    padding: 15px 15px 70px 15px;
    margin-right: 0px;
  }
  
  .swiper-slide{
    width: 432.894px !important;
    margin-right: 45px !important;
  }

  .swiper-button-next::after{
    position: relative;
    margin-bottom: -750px;
    margin-left: -1200px;
  }
  .swiper-button-prev::after{
    margin-bottom: -750px;
    margin-left: 1200px;
  }
  .swiper-pagination{
    display: none;
  }