.hamburger {
  display: none;
}

.mobile_container {
  position: absolute;
  top: 64px;
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  background: white;
  padding-left: 16px;
  box-shadow: -2px 19px 23px 0px rgba(0,0,0,0.32);
  z-index: 10;
  margin-bottom: 16px;
}

.mobile_menu_item {
  margin-bottom: 16px

}
.mobile_submenu_item {
  padding-left: 32px;
  margin-bottom: 16px;

}

.paqDropdown a {
  display: flex;
  flex-direction: row;
  color: #000;
}

.dropdownContent {
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdownContent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdownContainer {
  padding-left: 20px;
  display: flex;
  gap: 20px;
}

@media screen and (max-width: 768px) {
  .dropdownContainer {
    display: none;
  }

  .hamburger {
    display: block;
    font-size: 24px;
    width: 30px;
    height: 30px;
    margin-left: 10px;
  }
}