.ImpaqtrometroTextos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1em;
  gap: 10px;
}

.ImpaqtrometroTextosHeader {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.iconeImpaqtrometro {
  display: flex;
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  flex-direction: column;
  background-color: #0eb3e8;
  border-radius: 100%;
  font-size: 1em;
  align-items: center;
  justify-content: center;
}

.cardImpaqtrometroTitulo{
  color: white;
  font-family: "PP Formula Condensed";
  font-size: 2.5em;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}

.cardImpaqtrometroTexto{
  color: #FFF;
  display: flex;
  flex-direction: column;
  font-family: Poppins;
  font-size: .8em;
  font-style: normal;
  font-weight: 500;
  word-break: break-word;
}

.ImpaqtometroImagem {
  width: auto;
}

@media (max-width:1024px){
  .iconeImpaqtrometro{
    width: 7.25rem;
    height:  7.25rem ;
  }

  .cardImpaqtrometroTitulo{
    font-size: 47px;
  }
  .cardImpaqtrometroTexto{
    font-size: 15px;
  }
}

@media (max-width:500px){
  .iconeImpaqtrometro{
    width: 70px;
    height:  70px ;
  }

  .cardImpaqtrometroTitulo{
    font-size: 2em;
  }

  .ImpaqtometroImagem {
    display: none;
  }

  
}