.iconeImpaqtrometro {
  display: flex;
  width: 12rem;
  height: 12rem;
  flex-shrink: 0;
  background-color: #0eb3e8;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  margin-left: -14px;
}

.cardImpaqtrometroTitulo{
  color: white;
  text-align: right;
  font-family: "PP Formula Condensed";
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}

.cardImpaqtrometroTexto{
  color: #FFF;
  display: flex;
  text-align: right;
  font-family: Poppins;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
}

@media (max-width:1024px){
  .iconeImpaqtrometro{
    width: 7.25rem;
    height:  7.25rem ;
  }

  .cardImpaqtrometroTitulo{
    font-size: 47px;
  }
  .cardImpaqtrometroTexto{
    font-size: 15px;
  }
}