
.program-spaces {
    width: 100%;
    display: 40.8125rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 1.25rem 1.25rem 0rem 0rem;
    background: #DEF5FC;
    margin-bottom: 50px;
}

.program-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

#programs-title {
    color: #00171F;
    text-align: center;
    font-family: "PP Formula Condensed";
    font-size: 2.33781rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.5rem;
    margin-top: 10px;
}

#program-header-text {
    margin: 20px 0;
    width: 380px;
    font-family: "Poppins";
    font-weigth: 400;
    font-size: 16px;
    line-heigth: 20px;


}

.program-cards {
    width: 100%;
    height: 100%;
}


