.mobileContainer {
  display: none;
}

.programSpaces {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background: #b8eaff;
  background: linear-gradient(0deg,rgb(163, 220, 245) 2%, rgba(207, 245, 255, 1) 35%, rgba(255, 255, 255, 1) 100%);
  padding-bottom: 4rem;
  margin-bottom: -10px;
}

.programHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.programHeaderIcon {
  display: flex;
  flex-direction: column;
  align-items: center;

  &> img {
    width: 50px;
  }
}

.programHeader h2 {
  color: #00171f;
  text-align: center;
  font-family: "PP Formula Condensed";
  font-size: 2em;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem;
  margin-top: 10px;
}

.programHeader h3 {
  color: #000;
  font-family: "PP Formula Condensed";
  font-size: 1.8em;
  font-style: normal;
  font-weight: 400;
  line-height: 68px;
  text-transform: uppercase;
  margin-top: -20px;
}


.programHeader p {
  width: 420px;
  font-family: "Poppins";
  font-size: 14px;
}

.programCards {
   width: 70%;
   padding: 2em;
   align-items: center;
   display: flex;
   flex-direction: column; 
   gap: 16px; 
   justify-content: space-between;
}


.programCards > div { 
  width: 100%;

}

@media (max-width: 1028px) {
  .programCards {
    width: 100%;
 }
}

@media (max-width: 500px) {
  .mobileContainer {
    display: block;
  }

  .programCards {
    display: none;
  }

  
.programHeader p {
  width: 70%;
}
}
